{
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        }
    ]
}
