name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  GO_DEV_VERSION: "1.17" # Sync with README, go.mod, Dockerfile, and docker-compose.yml.
  GOLANGCI_LINT_VERSION: "v1.41.1"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # https://github.com/actions/toolkit/issues/399
        # go: ["1.16", "tip"]
        go: ["1.17"]
    name: Go ${{ matrix.go }}

    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/setup-go
        go-version: ${{ matrix.go }}

      - name: Pull docker images
        run: |
          docker pull zikaeroh/postgres-initialized
          docker pull nsqio/nsq

      - name: Run tests
        run: go test -race -covermode=atomic -coverprofile=coverage.txt ./...

      - name: Run 1x benchmarks
        run: go test -run=- -bench . -benchtime=1x ./...

      - name: Upload coverage report
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.txt
          name: Go ${{ matrix.go }}

  style:
    name: Style
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/setup-go
        go-version: ${{ matrix.go }}

      - name: Check go.mod tidyness
        run: |
          go mod tidy
          git diff --exit-code go.mod go.sum

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          skip-pkg-cache: true
          args: --timeout=10m

  generate:
    name: go generate
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/setup-go
        go-version: ${{ matrix.go }}

      - name: go generate
        run: |
          go generate ./...
          git diff --exit-code

      - name: genmodels
        run: |
          go run ./internal/cmd/genmodels
          git diff --exit-code

  ko:
    name: Ko
    runs-on: ubuntu-latest
    needs: [test, style, generate]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get version
        run: |
          export HB_VERSION="r$(git rev-list --count HEAD).$(git rev-parse --short HEAD)"
          echo Version $HB_VERSION
          echo HB_VERSION=$HB_VERSION >> $GITHUB_ENV

      - uses: ./.github/actions/setup-go
        go-version: ${{ matrix.go }}

      - uses: imjasonh/setup-ko@v0.4

      # TODO: Let ko push directly to registry? (Need to find a way to omit the hash-based tags.)
      - name: Build image
        run: |
          ko publish --local --preserve-import-paths github.com/hortbot/hortbot

      # This must go before the registry pushes to ensure ordering of the latest tag.
      - name: Turnstyle
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        uses: softprops/turnstyle@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker login
        if: ${{ github.repository == 'hortbot/hortbot' && github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: |
          echo '${{ secrets.DOCKER_TOKEN }}' | docker login docker.io -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          echo '${{ secrets.GITHUB_TOKEN }}' | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      - name: Push image to Docker Hub
        if: ${{ github.repository == 'hortbot/hortbot' && github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: |
          docker tag ko.local/github.com/hortbot/hortbot:latest docker.io/hortbot/hortbot:latest
          docker tag ko.local/github.com/hortbot/hortbot:latest docker.io/hortbot/hortbot:${{ env.HB_VERSION }}
          docker push docker.io/hortbot/hortbot:latest
          docker push docker.io/hortbot/hortbot:${{ env.HB_VERSION }}

      - name: Push image to GitHub
        if: ${{ github.repository == 'hortbot/hortbot' && github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: |
          docker tag ko.local/github.com/hortbot/hortbot:latest ghcr.io/hortbot/hortbot:latest
          docker tag ko.local/github.com/hortbot/hortbot:latest ghcr.io/hortbot/hortbot:${{ env.HB_VERSION }}
          docker push ghcr.io/hortbot/hortbot:latest
          docker push ghcr.io/hortbot/hortbot:${{ env.HB_VERSION }}
